# Accessible from the client and server components/functions
NEXT_PUBLIC_API_URL=https://rentnest-bakend.vercel.app

# Auth secrets
JWT_ACCESS_SECRET=access-secret-longer-than-32-characters
JWT_REFRESH_SECRET=refresh-secret-longer-than-32-characters
